.item-list li{
  font-size: 1.2em;
  line-height: 46px;
  min-height: 46px;
  border-bottom: 1px solid #eee;
}

.item-list li button{
  margin:5px;
}

.paging{
  display: table;
  margin:auto;
}

.panel-heading-title{
  font-size: 20px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
